<!DOCTYPE html>
<html>
<head>
	<title>Wiki</title>
	<link rel="stylesheet" href="/lib/material-design-lite/material.min.css">

	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/style.css"/>

</head>
<body>
	<%= yield %>
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/lib/material-design-lite/material.min.js"></script>
	<script src="/app.js"></script>
</body>
</html>