@import url('/fonts/Material-Icons.css');
@import url('/fonts/Roboto.css');
@import url('/lib/material-design-lite/material.min.css');
@import url('/lib/bootstrap/dist/css/bootstrap.min.css');
@import url('/lib/font-awesome/css/font-awesome.min.css');

body {
  font-family: 'Roboto', sans-serif;
}

.top-sidebar {
	background: rgb(63, 81, 181);
	color: white;
}

.top-sidebar img {
  border-radius: 100px;
  top: 0em;
  position: relative;
  margin: 2em;
	margin-bottom: -1em;
  left: -1em;
  top: -1em;
  padding: 1em;
  background: rgba(63, 81, 120, 0.5);
  width: 10em;
}

.top-sidebar-text {
	padding-left: 16px;
	padding-bottom: 10px;
}

.mdl-layout-title a {
	text-decoration: none;
	color: white;
}

.login-panel {
  text-align: center;
}
.login-logo {
  top: 0;
  max-height: 5em;
  max-width: 5em;
  display: inline-flex;
}

/* taken from http://bit.ly/1RybCqs */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-msg {

}

form .name > div{
  margin: 1em;
  width: 10em;
}

article .article-header {
  border-bottom: gray solid thin;
}

article .article-header h1 {
  font-size: 24pt;
}

.searchbar {
  color: white;
}

.articles {
  line-height: 2em;
}


.welcome-text {
  font-size: 2em;
}

small.top-sidebar {
  padding-left: 40px;
  line-height: 64px;
}

table.history {
  width: 100%;
}

table.history tr {
  cursor: pointer;
}

.card {
  display: flex;
  float: left;
  flex-direction: column;
  margin: 1em;
}

ul.tags li {
  list-style-type: none;
  margin-right: 1em;
  float: left;
}

ul.tags li.tag {

}

ul.tags {
  display: block;
  height: 2.5rem;
  margin-bottom: 0;
  font-size: 9pt;
  position: relative;
  left: -40px;
}

ul.top-tags li {
  list-style: none;
}

ul.top-tags li.static {
  font-size: 14pt;
}

ul.top-tags li.tag {
  float: left;
  margin-right: 1em;
}

ul.edit-tags {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}

ul.edit-tags li {
  list-style: none;
  float: left;
  margin-right: 1em;
}

ul.edit-tags li.tag {

}

.new-tag {
  overflow: visible;
  background: transparent;
  display: inline-flex;
  border: none;
  width: auto;
  border-bottom: rgba(0,0,0,.25) solid thin;
  max-width: 5em;
  min-width: 1em;
  flex-direction: row;
}

.new-tag:focus {
  outline: none;
}

.edit-tags .tag auto {
  text-decoration: none;
}

.edit-tags .tag a:hover {
  color: red;
  cursor: crosshair;
}